.rounded img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  float: left;
}

#notrounded {
  border-radius: 15px 50px
  height: 200px
  width: 200px;
  border-top-right-radius: 10px;
}

button {
  height: 30px;
  width: 60px
  border-radius: 10px
  background: pink;
  color: purple;
}

#button-two {
  height: 30px;
  width: 60px
  border-radius: 50px
  background: blue;
  color: orange;
}

button:hover {
  background: yellow;
}

header {
  background-image: url("https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds-large.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10px;
}

nav {
  line-height: 50px;
  background: #cccccc;
  height: y600px;
  width: 120px;
  float: left;
  padding: 5px;
}

section {
  width: 500px;
  float: left;
  padding: 15px;
}

footer {
  background: blue;
  text-align: center;
  padding: 10px;
  clear: both;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: yellow;
  font-size: 30px;
}

#silly {
  color: yellow;
  font-family: cursive;
}
